{% extends "users/base.html" %}
{% block content %}
    <p>{{ question.qs }}</p>
    <p>{{ question.option_1 }}</p>
    <p>{{ question.option_2 }}</p>
    <p>{{ question.option_3 }}</p>
    <p>{{ question.option_4 }}</p>
    <p>{{ question.correct }}</p>
    <button><a href="{% url 'exam-question-update' course_pk=object.exam.course.id exam_id=object.exam.id pk=object.id %}">Update</a></button>
    <button><a href="{% url 'exam-question-delete' course_pk=object.exam.course.id exam_id=object.exam.id pk=object.id %}">Delete</a></button>
{% endblock content %}