{% extends "users/base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./about_styling.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ instructor.user.username }}</h1>
      {% for certification in certifications %}
      <h2>{{ certification.certificates }}</h2>
      {% empty %}
      <p>This person has no certifications yet</p>
      {% endfor %}
      <p>
        Wayne, Bruce. Graduated from Gotham University, class of 86. He shows
        keen interest in Cloud Computing, Artificial Intelligence and Computer
        Security
      </p>
    </div>
  </body>
</html>

{% endblock content %}
