{% extends "users/base.html" %} {%load static%} {% block content %}
<style>
  .profile {
    position: static;
    font-size: x-large;
    display: grid;
    text-align: center;
    opacity: 1;
  }
  button[type="submit"] {
    background-color: rgb(0, 38, 128);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  body {
    background-image: url("{% static 'users/image/profile5.jpg' %}");
    background-size: cover;
  }
</style>
<body>
  <div class="profile">
    <h2>Profile</h2>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Update</button>
    </form>
  </div>
</body>
{% endblock content %}
